.env
/.idea
.DS_Store
/public/storage
/public/hot
/public/packages
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
/bootstrap/compiled.php
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/_ide_helper.php
/app/config/packages
/node_modules